source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget Amazon.Lambda.APIGatewayEvents
nuget Amazon.Lambda.Core
nuget Amazon.Lambda.RuntimeSupport
nuget Amazon.Lambda.Serialization.SystemTextJson
nuget Amazon.Lambda.TestUtilities
nuget coverlet.collector
nuget Fable.Core
nuget Fable.Promise
nuget FsCheck.Xunit
nuget FSharp.Core
nuget Microsoft.Azure.Functions.Worker
nuget Microsoft.Azure.Functions.Worker.Extensions.Http
nuget Microsoft.Azure.Functions.Worker.Sdk
nuget Microsoft.NET.Test.Sdk
nuget Ply
nuget Pulumi.Automation
nuget Pulumi.Aws
nuget Pulumi.AzureNative
nuget Pulumi.FSharp
nuget Pulumi.Github
nuget Pulumi.Random
nuget SchlenkR.FsHttp
nuget Thoth.Json
nuget Thoth.Json.Net
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio